<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016. Attractor, Inc. All Rights Reserved.
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level][%date] [%thread][KEY:%X{_TRACE_KEY}] --%msg--[%M][%F{16},%L]%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>/home/work/appdata/logs/${JPAAS_HOST}_${JPAAS_HTTP_PORT}/ams.log</file>-->
        <file>cashout/cashout.log</file>
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
        <!--<fileNamePattern>/home/work/appdata/logs/${JPAAS_HOST}_${JPAAS_HTTP_PORT}/app.log.%i.gz</fileNamePattern>-->
        <!--<minIndex>1</minIndex>-->
        <!--<maxIndex>5</maxIndex>-->
        <!--</rollingPolicy>-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--<maxFileSize>100MB</maxFileSize>-->
        <!--</triggeringPolicy>-->

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>sinafinance/sinafinancelog.%d{yyyy-MM-dd-HH}.%i.gz</fileNamePattern>
            <MaxHistory>5</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>[%-5level][%date] [%thread][KEY:%X{_TRACE_KEY}] --%msg--[%M][%F{16},%L]%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root>
        <level value="INFO" />
        <appender-ref ref="rollingFile" />
        <appender-ref ref="STDOUT" />
    </root>
    <!-- project default level -->
    <logger name="com.sinafinance.cashout" additivity="false">
        <level value="debug" />
        <appender-ref ref="rollingFile" />
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>